In [1]:
from databaker.framework import *
import pandas as pd

In [2]:
next_table = pd.DataFrame()

In [3]:
%%capture
%run "LTIM IPS  4.04A Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.04B Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

%run"LTIM IPS  4.04C Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.04D Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

In [4]:
next_table.count()

Geography                        3668
Year                             3668
Country of residence             3668
Flow                             3668
Area of Destination or Origin    3668
Measure Type                     3668
Value                            3668
CI                               3668
Unit                             3668
dtype: int64

In [5]:
next_table = next_table[['Geography','Year','Country of residence','Flow','Area of Destination or Origin','Measure Type','Value','CI','Unit']]

In [6]:
next_table.head()

,Geography,Year,Country of residence,Flow,Area of Destination or Origin,Measure Type,Value,CI,Unit
1,K02000001,2016,all,inflow,united kingdom,Count,526.6,34.4,People (thousands)
3,K02000001,2016,all,inflow,great britain,Count,520.8,33.7,People (thousands)
5,K02000001,2016,all,inflow,england and wales,Count,488.4,32.7,People (thousands)
7,K02000001,2016,all,inflow,england,Count,470.3,32.0,People (thousands)
9,K02000001,2016,all,inflow,wales,Count,18.1,6.8,People (thousands)

In [7]:
next_table.tail()

,Geography,Year,Country of residence,Flow,Area of Destination or Origin,Measure Type,Value,CI,Unit
3555,K02000001,2016,zimbabwe,balance,united-kingdom,Count,0.2,0.3,People (thousands)
3557,K02000001,2016,zimbabwe,balance,great-britain,Count,0.2,0.3,People (thousands)
3559,K02000001,2016,zimbabwe,balance,england-and-wales,Count,0.2,0.3,People (thousands)
3561,K02000001,2016,zimbabwe,balance,england,Count,0.2,0.3,People (thousands)
3563,K02000001,2016,zimbabwe,balance,east,Count,0.2,0.3,People (thousands)

In [8]:
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'migration_4.04.csv', index = False)