# International Passenger Survey 4.04, area of destination or origin within the UK by citizenship

Convert all tabs from latest Excel spreadsheet
https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/internationalmigration/datasets/ipsareaofdestinationororiginwithintheukbycitizenship

In [1]:
%run lib/scrape_ons.ipynb

metadata = scrape('https://www.ons.gov.uk/peoplepopulationandcommunity/populationandmigration/' \
                  'internationalmigration/datasets/ipsareaofdestinationororiginwithintheukbycitizenship')

Download the spreadsheet and load directly into Pandas.

In [2]:
from databaker.framework import *
import pandas as pd

xls = pd.ExcelFile(BytesIO(session.get(metadata['fileURL']).content))

Now run separate notebooks for each tab in the spreadsheet and collate the results in a single DataFrame.

In [3]:
next_table = pd.DataFrame()

In [4]:
%%capture
%run "LTIM IPS  4.04A Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.04B Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

%run"LTIM IPS  4.04C Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

%run "LTIM IPS  4.04D Area of destination or origin within the UK by citizenship.ipynb"
next_table = pd.concat([next_table, Final_table])

In [5]:
next_table.count()

Geography                        3668
Year                             3668
Country of Residence             3668
Flow                             3668
Area of Destination or Origin    3668
Measure Type                     3668
Value                            3668
CI                               3668
Unit                             3668
dtype: int64

In [6]:
next_table.columns = ['Citizenship' if x=='Country of Residence' else x for x in next_table.columns]

In [7]:
next_table.count()

Geography                        3668
Year                             3668
Citizenship                      3668
Flow                             3668
Area of Destination or Origin    3668
Measure Type                     3668
Value                            3668
CI                               3668
Unit                             3668
dtype: int64

In [8]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('korea, south / republic', 'korea south republic'))

In [9]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('cambodia / kampuchea', 'cambodia kampuchea'))

In [10]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('myanmar / burma', 'myanmar burma'))

In [11]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('cyprus,southern', 'cyprus-southern'))

In [12]:
next_table['Citizenship'] = next_table['Citizenship'].map(lambda cell: cell.replace('all', 'world'))

In [13]:
next_table = next_table[['Geography','Year','Citizenship','Flow','Area of Destination or Origin','Measure Type','Value','CI','Unit']]

In [14]:
next_table.head()

,Geography,Year,Citizenship,Flow,Area of Destination or Origin,Measure Type,Value,CI,Unit
1,K02000001,2016,world,inflow,K02000001,Count,526.6,34.4,People (thousands)
3,K02000001,2016,world,inflow,K03000001,Count,520.8,33.7,People (thousands)
5,K02000001,2016,world,inflow,K04000001,Count,488.4,32.7,People (thousands)
7,K02000001,2016,world,inflow,E92000001,Count,470.3,32.0,People (thousands)
9,K02000001,2016,world,inflow,W92000004,Count,18.1,6.8,People (thousands)

In [15]:
next_table.tail()

,Geography,Year,Citizenship,Flow,Area of Destination or Origin,Measure Type,Value,CI,Unit
3555,K02000001,2016,zimbabwe,balance,K02000001,Count,0.2,0.3,People (thousands)
3557,K02000001,2016,zimbabwe,balance,K03000001,Count,0.2,0.3,People (thousands)
3559,K02000001,2016,zimbabwe,balance,K04000001,Count,0.2,0.3,People (thousands)
3561,K02000001,2016,zimbabwe,balance,E92000001,Count,0.2,0.3,People (thousands)
3563,K02000001,2016,zimbabwe,balance,E12000006,Count,0.2,0.3,People (thousands)

In [16]:
out = Path('out')
out.mkdir(exist_ok=True)
next_table.to_csv(out / 'migration_4.04.csv', index = False)

In [17]:
writeMetadata(metadata, 'ONS LTIM Passenger survey 4.04', 'Migration')

In [18]:
next_table.count()

Geography                        3668
Year                             3668
Citizenship                      3668
Flow                             3668
Area of Destination or Origin    3668
Measure Type                     3668
Value                            3668
CI                               3668
Unit                             3668
dtype: int64